@import "normalize.css";

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?glfxd0');
    src:  url('../fonts/icomoon/icomoon.eot?glfxd0#iefix') format('embedded-opentype'),
      url('../fonts/icomoon/icomoon.ttf?glfxd0') format('truetype'),
      url('../fonts/icomoon/icomoon.woff?glfxd0') format('woff'),
      url('../fonts/icomoon/icomoon.woff2?glfxd0') format('woff2'),
      url('../fonts/icomoon/icomoon.svg?glfxd0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

 @font-face {
	font-family: 'Tahoma';
	src: url('Tahoma.eot');
	src: local('Tahoma'),
		url('../fonts/Tahoma/Tahoma.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Tahoma/Tahoma.woff') format('woff'),
        url('../fonts/Tahoma/Tahoma.woff2') format('woff2'),
		url('../fonts/Tahoma/Tahoma.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tahoma';
	src: url('../fonts/Tahoma/Tahoma-Bold.eot');
	src: local('../fonts/Tahoma/Tahoma Bold'), local('Tahoma-Bold'),
		url('../fonts/Tahoma/Tahoma-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Tahoma/Tahoma-Bold.woff') format('woff'),
        url('../fonts/Tahoma/Tahoma-Bold.woff2') format('woff2'),
		url('../fonts/Tahoma/Tahoma-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

//=============================================
$md1: 1198.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$grey: rgba(153, 153, 153, 1);
$peridot: rgba(147, 234, 32, 1);
$white: #ffffff;
//=============================================
* {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #232323;
    box-sizing: border-box !important;
}

 
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-spiceworks:before {
    content: "\e901";
}
.icon-linkedin:before {
    content: "\e902";
}
.icon-facebook:before {
    content: "\e903";
}
.icon-twitter:before {
    content: "\e904";
}
.icon-youtube:before {
    content: "\ea9d";
}

//=============================================
html,
body {
	height: 100%;
	background: rgba(241, 241, 241, 1);
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    &.lock {
        overflow: hidden;
    }
}
a, button, a *, button * {
	cursor: pointer;
    transition: all .3s linear;
}

.wrapper {
    flex: 1 0 auto;
    max-width: 1270px;
    overflow: hidden;
    margin: 0 auto;
}

.container {
    padding: 0 20px;
    position: relative;
    z-index: 2;
    &_wrp {
        max-width: 1230px;
        overflow: hidden;
        margin: 0 auto;
    }
}

.row {
    display: flex;
    justify-content: space-between;
}
.column {

    &:first-child {
        
    }
    &:nth-child(2) {
        
    }
}

//=============================================
.h1 {
    color: $white;
    font-size: 60px;
    line-height: 113%;
    font-weight: normal;
}
.h2 {
    font-size: 40px;
    line-height: 120%;
    font-weight: normal;
    &_center {
        text-align: center;
    }
    &_left {
        text-align: left;
    }
}
.btn {
    border-radius: 99px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 32px;
    &_peridot {
        background: $peridot;
        color: #005F4B;
    }
    &_green {
        background: rgba(0, 179, 54, 1);
        color: #ffffff;
    }
}
.peridot {
    color: $peridot
}

.text {
    line-height: 150%;
    &_flag {
        color: $peridot;
        font-size: 28px;
        text-transform: uppercase;
    }
    &_date {
        color: $white;
        font-size: 28px;
    }
    &_comment {
        color: $grey;
        font-weight: 700;;
    }
    &_list {
        padding: 0 0 0 24px;
        margin: 0 0 24px -10px !important;
        li {
            margin: 0 0 10px 0;
        }

    }
    &_policy {
        color: $grey;
    }
    &_gain {
        flex: 0 0 57%;
        font-size: 24px;
        line-height: 133%;
    }
}
//=============================================
.popup {
    opacity: 0;
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(49, 49, 49, 0.5);
    &__player {
        width: 80%;
        height: auto;
    }
    &.shown {
        opacity: 1;
        z-index: 7777;
    }
}

//=============================================
.main {
}

//=============================================
.top {
    padding: 76px 0 86px 0;;
    background: #004550;
        &__column {
            &:first-child {
                flex: 0 1 50%;
                background: url('../img/bg/computer.png') 100% 100% / 305px 305px no-repeat;
            }
            &:nth-child(2) {
                flex: 0 1 37%;
            }
        }

		// .top__content

		&__content {
		}
}


.logo {
    width: 229px;
    margin: 0 0 80px 0;
    img {
        width: 100%;
        height: auto;
    }
}
.form {

		// .form__body

		&__body {
		}

		// .form__title

		&__title {
            color: $white;
		}

		// .form__item

		&__item {
		}

		// .form__input

		&__input {
            color: $grey;
		}
        &__btn {
            display: block;
            width: 100%;
        }
		// .form__agreement

		&__agreement {
            color: $white;
		}
}
.checkbox {

		// .checkbox__input

		&__input {
		}

		// .checkbox__label

		&__label {
            color: $white;
		}
}
//=============================================
.partners {
    padding: 88px 0 48px 0;
    border-bottom: 1px solid #CDCDCD;
    &__h2 {
        margin: 0 0 48px 0;
    }
    &__content {
        margin: 0 0 48px 0;
    }
    .text {
        margin: 0 0 24px 0;
    }
    .column {
        &:first-child {
            flex: 0 0 31.71%;
        }
        &:last-child {
            flex: 0 0 60%;
            padding: 0 4% 0 0;
        }
    }
}

.video {
    width: 100%;
    padding-bottom: 56%;
    margin: 0 0 24px 0;
    position: relative;
    overflow: hidden;
    &__player {
        position: absolute;
        width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__btn {
        position: absolute;
        width: 30%;
        height: auto;
        max-width: 116px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        transition: opacity ease-out 0.3s;
        &.hidden {
            opacity: 0;
            z-index: -1;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}
//=============================================
.experts {
    padding: 64px 0 93px 0;
    &__h2 {
        margin: 0 0 32px 0;
    }
}
.expert {
    flex: 0 1 17%;
    background: url('../img/bg/dots-bg-small.png') 100% 0 / 56% auto no-repeat;
    &:not(:last-child) {
        margin: 0 3% 0 0;
    }
		&__caption {

		}

		// .expert__name

		&__name {
            font-size: 28px;
            margin: 0 0 15px 0;
		}

		// .expert__position

		&__position {
            color: $grey;
		}
}
.portrait {
        padding: 8% 0 0 0;
        margin: 0 0 24px 0;
		&__cover {
            border-radius: 30px;
            overflow: hidden;
            width: 77%;
            padding-bottom: 77%;
            position: relative;
        }
		&__img {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
		}
}
//=============================================
.footer {
    padding: 60px 0;
    background: #E5E5E5;
}
.iconbox {
    flex: 0 0 25%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.socicon {
    margin: 0 1px;
    &__link {
        color: $grey;
        font-size: 17px;
        transition: color ease-out 0.3s;
        &:hover {
            color: $peridot;
        }
    }
}
.icon-spiceworks {
}
.icon-linkedin {
}
.icon-facebook {
}
.icon-twitter {
}
.icon-youtube {
}